*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: mintcream;
    color: black;
}

.head{
    color: coral;
  padding: 7px 10px;
  text-decoration: none;
  font-family: Georgia serif;
  font-size: 16px;
  font-weight: lighter;
  background-color: black;
  display: inline-block;
  margin: 9px 0;
  border-radius: 10px;  
}

.head:hover{
    font-size: 20px;
    color: mediumaquamarine;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: black;
    display: inline-flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin: 5px;
    padding: 10px;
}

nav a:hover{
    background-color: mediumseagreen;
    border-radius: 10px;
    margin:10px;
    padding:10px;
}

main{
    margin: 20% 10% 20%;
}

.holder{
    display: flex;
    line-height: 1.5;
    justify-content: space-between;
}

h1{
font-weight: bold;
font-size: 50px;
font-weight: bold;
}

h1 span{
    color: coral;
}

main p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-bottom: 8%;
}

main .text a{
    background-color: black;
    color:mediumseagreen;
    padding:10px 15px;
    border-radius: 13px;
    width: 38%;
}

main .text a:hover{
    color: white;
    background: coral;
}

main .image{
  position: absolute;
  right: 5%;
  left: 80%;
  bottom: 8%;
  width: 50%;
}

.contact h1{
    text-align: center;
    background-color: rgb(10, 9, 9);
    color: mediumseagreen;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 5%;
}

.contact p{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="Email"] {
    width:100%;
    padding:15px;
    display: flex;
    margin:5px 0 23px 0;
    border: 0;
    font-size: 15px;
}

.btn{
    background-color: black;
    color: mediumturquoise;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
    font-family: serif;
    font-size: 20px;
    margin: auto;
}

.btn:hover{
        background-color: grey;
        color: mediumaquamarine;
    opacity: 0.5px;
  }
  
.project h1{
    text-align: center;
    color: black;
    padding: 5px 5px;
    width: 50%;
    margin: 3%;
}

.project p{
    text-align: center;
    font-size: 25px;
    width: 50%;
    padding: 5px;
    font-weight: bold;
}

footer{
    background-color: black;
    color: mediumseagreen ;
    text-align: center;
    padding: 0.9%;
    position: fixed;
    width: 100%;
    bottom: 0;
}